!!! 5
html
  head
    title= 'one page to draw them all'
    style.
      body {
        margin: 0;
        overflow: hidden;
        background-color: #16161d
      }
    script(src='../../js/jquery-1.9.1.min.js')
    script(src='../lib/three.js')
    script(src='main.js')
  body
    #container
